{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="background">
        <div class="title" style="padding: 40px 0 0 0 !important;" >
            <p>VYT Téléchargement</p>
        </div>

        <div class="content">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Télécharger" class="btn btn-info btn-block">
            </form>
        </div>
    </div>

    {% if title %}
        <div class="dbox">
            <div class="img-thumb">
                <img class="img-responsive" src="{{ thumb }}">
            </div>
            <div id="desl" class="v-about">
                <p class="v-title">{{ title }}</p>
                <section class="infos">

                    <li>Durée <b>{{ duration }}</b></li>
                    <li>Vues <b>{{ views }}</b></li>
                    <li>J'aimes <b>{{ likes }}</b></li>
                    <li>J'aime pas <b>{{ dislikes }}</b</li>

                </section>
            </div>
        </div>

        <div id="m-show">
            <p class="v-title">{{ title }}</p>
        </div>
        <div class="downloads">

            <table>
                <tr>
                    <th scope="col">Resolution</th>
                    <th scope="col">Taille du fichier</th>
                    <th scope="col">Extension</th>
                    <th scope="col">Télécharger</th>
                </tr>
                <tr>
                    {% for stream in streams %}
                        <tr>
                            <td>{{ stream.resolution }}</td>
                            <td>{{ stream.file_size }}</td>
                            <td>{{ stream.extension }}</td>
                            <td><a href="{{ stream.video_url }}" style="text-decoration: none;"
                                   download="{{ title }}.{{ extension }}" target="_blank">Télécharger <i
                                    class=" fa fa-download"></i></a></td>
                        </tr>
                    {% endfor %}
                </tr>
            </table>

            {% comment %} <p class="h3 text-center mt-5 mb-5">Seulement audio</p>
            <table class="table mt-5 mb-5">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Taille du fichier</th>
                    <th scope="col">Extension</th>
                    <th scope="col">Télécharger</th>
                </tr>
                </thead>
                <tbody>
                {% for stream in stream_audio %}
                    <tr>
                        <td>{{ stream.file_size }}</td>
                        <td>{{ stream.extension }}</td>
                        <td><a href="{{ stream.video_url }}" style="text-decoration: none;"
                               download="{{ title }}.{{ extension }}" target="_blank">Télécharger <i
                                class=" fa fa-download"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> {% endcomment %}

            {##}
            {#            <p class="h3 text-center mt-5 mb-5">Video Only</p>#}
            {#            <table class="table mt-5">#}
            {#                <thead class="thead-light">#}
            {#                <tr>#}
            {#                    <th scope="col">Resolution</th>#}
            {#                    <th scope="col">File Size</th>#}
            {#                    <th scope="col">Extension</th>#}
            {#                    <th scope="col" >Download</th>#}
            {#                </tr>#}
            {#                </thead>#}
            {#                <tbody>#}
            {#                {% for stream in stream_video %}#}
            {#                    <tr>#}
            {#                        <td>{{ stream.resolution }}</td>#}
            {#                        <td>{{ stream.file_size }}</td>#}
            {#                        <td>{{ stream.extension }}</td>#}
            {#                        <td><a href="{{ stream.video_url }}" style="text-decoration: none;"#}
            {#                               download="{{ title }}.{{ extension }}" target="_blank">Download <i#}
            {#                                class=" fa fa-download"></i></a></td>#}
            {#                    </tr>#}
            {#                {% endfor %}#}
            {#                </tbody>#}
            {#            </table>#}
            {##}
        </div>


    {% endif %}


{% endblock %}